doctype html 
html 
    head 
        title Login 
    body 
        if(message)
            h4 #{message}
        h2 Login
        form(action="/login" method="POST")
            input(type="text" name="id" required placeholder="Please enter your username") 
            input(type="password" name="password" required placeholder="Please enter your password") 
            input(type="submit")